<main id="main" class="main">
    <div class="pagetitle">
        <h1>Primeng Components</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Primeng Components</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <p-button label="Submit"></p-button>
        </div>
    </section>
</main>